# BASED ON THIS TEMPLATE:
# https://github.com/github/gitignore/blob/main/C.gitignore

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Executables# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.exe
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

**/_*/
**/*.py
**/*.pl
**/*.lua
**/.vscode/
**/*-main.c
**/_putchar.c